*{
  margin: 0 auto;
  text-decoration: none;
  list-style: none;
}


#container{
  background-color: #3abdf6;
  height: 900px;
}

#box{
    width: 700px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 12px;
}

#box-left{
  width:50%;

}

#box-right{
  width:50%;
}

.img-card {
  width:1000px;
}

.img-card li{
  float: left;
  display:none;
}
